:root {
  // Цвета
  --color-black: #000000;
  --color-black-light: #363232;

  --color-red: #FA2828;
  --color-red-light: #FF5252;

  --color-brown: #988F8F;

  --color-gray: #C4C4C4;
  --color-gray-dark: #4D4747;
  --color-gray-light: #E5E5E5;

  --color-white: #FFFFFF;
}

html {
  font-size: 10px;
  color: var(--color-white);
  height: 100vh;


  ::-webkit-scrollbar {
    width: .8rem;

  }


  ::-webkit-scrollbar-track {
    background-color: transparent;
  }


  ::-webkit-scrollbar-thumb {
    background: var(--color-black);
    border-radius: .4rem;
    height: 32rem;

  }
}
p+p {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: var(--color-black-light);

}
.container {
  max-width: 140rem;
  margin: 0 auto;
}

.txt {
  &--xl {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 3.6rem;
  }

  &--xm {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 3.2rem;
  }
  &--xs {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 120%;
  }
  &--xss {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  &--m {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
  }
  &--brown {
    color: var(--color-brown);
  }
  &--white {
    color: var(--color-white);
  }
}

.main {
  &__wrap {
    margin: 4rem 0;
    padding-bottom: 1.8rem;
    border-bottom: 1px solid var(--color-gray);
    &-title {
      padding-bottom: 1.8rem;
    }
    &-back {
      position: relative;
      padding-left: 3.2rem;
      font-weight: 400;
      font-size: 2rem;
      line-height: 2rem;
      color: var(--color-red);
      text-decoration: none;
      span {
        border-bottom: .1rem solid var(--color-red-light);
      }
      &:before{
        content: '';
        position: absolute;
        width: 2.4rem;
        height: 2.4rem;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url("@/assets/images/arrow.svg") no-repeat center center / 100%;
      }
    }
    &__filters {
      display: flex;
      align-items: center;
      .films-checkbox {
        &:first-child {
          padding-right: 3.2rem;
        }
      }
    }
  }
}

.animate {
  .films-card:hover {
    transform: translateY(-8px);
  }
  .films-card:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    transition: opacity 0.6s;
    opacity: 0;
  }
  .films-card:hover:after {
    opacity: .2;
  }
}

